@import "./shadcn.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

button {
  cursor: pointer;
}

.zhuyin-renderer {
  > .hr-breaker {
    @apply w-full h-[3rem];
  }
  > .hr-breaker:not(.hr-breaker + .hr-breaker) {
    @apply h-0;
  }
}
