.app-main {
}

#output-block {
  font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  &.editing-mode {
    background-color: #fff;
    background-image:
        linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,0,0,0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
